DATABASE_URL="postgresql://postgres.myjhroiutvnpvanormvw:[YOUR-PASSWORD]@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.myjhroiutvnpvanormvw:[YOUR-PASSWORD]@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"
OWNER_PHONE=91XXXXXXXXXX
BREVO_API_KEY=
BREVO_FROM_EMAIL=
BREVO_FROM_NAME=Fabric Tracker
ALERT_TO_EMAIL=
ALERT_TO_NAME=Factory Owner
OWNER_LOGIN_USERNAME=owner
OWNER_LOGIN_PASSWORD=owner123
MERCHANT_LOGIN_USERNAME=merchant
MERCHANT_LOGIN_PASSWORD=merchant123
SAMPLE_DEPARTMENT_LOGIN_USERNAME=sample
SAMPLE_DEPARTMENT_LOGIN_PASSWORD=sample123
STITCHING_DEPARTMENT_LOGIN_USERNAME=stitching
STITCHING_DEPARTMENT_LOGIN_PASSWORD=stitching123
CUTTING_DEPARTMENT_LOGIN_USERNAME=cutting
CUTTING_DEPARTMENT_LOGIN_PASSWORD=cutting123
FRONTEND_URL=http://localhost:3001
PORT=8001
